管理者ログインページ
<% if user_signed_in? %>
	<li>
	<%= link_to "ログアウト", destroy_user_session, method: :delete %>
	</li>
<% elsif admin_signed_in? %>
	<li>
	<%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
	</li>
<% else %>
	<li>
	<%= link_to "新規登録", new_user_session %>
	</li>
	<li>
	<%= link_to "ログイン", new_user_session %>
	</li>
<% end %>