<%= render 'layouts/headerhome' %>
<div class="container">

	<h2>管理者ページ</h2>

	<%= render 'layouts/attendanceform' %>

	<%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-logout" %>
</div>