<!DOCTYPE html>
<html>
	<head>
		<title>Admin | Shiftem</title>
	</head>
	<body>
		<h1>管理者ページ</h1>
		
		<p>
			This is the home page for the
			<a href="https://shiftem.onrender.com/">Shiftem</a>
		</p>
		<h2>
			管理者用ページです
		</h2>

	</body>
</html>