<%= render 'layouts/headerhome' %>
<div class="container">
	<h1>Home</h1>
	<h2>勤怠管理システムです</h2>
	<%= link_to "従業員", member_path, class: "btn btn-primary" %>
	<%= link_to "管理者", new_user_session_path, class: "btn btn-primary" %>
</div>