<%= render 'layouts/headerhome' %>
<div class="container">
	<h1>Home</h1>
	<p>
	This is the home page for the
	<a href="https://shiftem.onrender.com/">Shiftem</a>
	</p>
	<h2>
	勤怠管理システムです
	</h2>
</div>