<%= render 'layouts/headerhome' %>
<div class="container">
  <h1 lang="en"><%= current_user.name %></h1>
  <%= render 'layouts/attendanceform' %>
  <%= button_to "ログアウト", destroy_user_session_path, method: :delete %>
</div>
