@import "bootstrap-sprockets";
@import "bootstrap";

$navbar-bg-color: rgba(236, 244, 244, 1),;
$navbar-text-color: rgba(52, 73, 94, 0.8);
$navbar-text-hover-color: rgb(20, 27, 35);
$logo-height: 60px;
$font-family: 'Tsukushi A Round Gothic', 'Yo One Sans Linear Regular', 'Roboto', sans-serif;

/* universal */

html, body {
	margin: 0;
	padding: 0;
	background-color: #ecf4f4;
	font-family: $font-family;
	color: $navbar-text-color;
}

section {
	overflow: auto;
}
  
textarea {
	resize: vertical;
}

.center {
	text-align: center;
  
	h1 {
		margin-bottom: 10px;
	}
}

.navbar {
	display: flex;
	align-items: center;
	height: 80px;
	padding: 0 20px;
	background-color: $navbar-bg-color;
	position: fixed;
	width: 100%;
	top: 0; // 上端に固定
	left: 0; // 左端に固定
	right: 0; // 右端に固定
	z-index: 1000;
	border-radius: 0; // 角の丸みを取り除く

	.spacer {
		flex-grow: 1; // 可能な限りの空間を取る
	}

	#logo {
		height: $logo-height;
		width: auto;
		opacity:0.8;
	}

	ul {
		display: flex;
		list-style-type: none;
		margin: 0;
		padding: 0;
		float: right;
		color: white;
		align-items: center;
		font-size: 25px;

		li {
			margin-right: 30px;

			a {
				color: $navbar-text-color;
				text-decoration: none;
				transition: color 0.4s;

				&:hover {
					color: $navbar-text-hover-color;
				}
			}
		}
	}
}

.container {
	padding-top: 30px;
}

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
  }