@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
	padding-top: 60px;
}
  
section {
	overflow: auto;
}
  
textarea {
	resize: vertical;
}
  
.center {
	text-align: center;
}
  
.center h1 {
	margin-bottom: 10px;
}

header {
	background-color: black;
	margin-bottom: 20px;
}

header .li {
	color: white;
	float: right;
}