@import "bootstrap-sprockets";
@import "bootstrap";

$navbar-bg-color: rgba(213, 243, 255, 1);
$navbar-text-color: rgba(7, 40, 72, 0.7);
$navbar-text-hover-color: rgba(7, 40, 72, 1);
$logo-height: 50px;

/* universal */

html, body {
	margin: 0;
	padding: 0;
}

section {
	overflow: auto;
}
  
textarea {
	resize: vertical;
}

.center {
	text-align: center;
  
	h1 {
		margin-bottom: 10px;
	}
}

.navbar {
	display: flex;
	align-items: center;
	height: 60px;
	padding: 0 20px;
	background-color: $navbar-bg-color;
	position: fixed;
	width: 100%;
	top: 0; // 上端に固定
	left: 0; // 左端に固定
	right: 0; // 右端に固定
	z-index: 1000;
	border-radius: 0; // 角の丸みを取り除く

	.spacer {
		flex-grow: 1; // 可能な限りの空間を取る
	}

	#logo {
		height: $logo-height;
		width: auto;
		opacity:0.8;
	}

	ul {
		display: flex;
		list-style-type: none;
		margin: 0;
		padding: 0;
		float: right;
		color: white;
		align-items: center;
		font-size: 18px;

		li {
			margin-right: 20px;

			a {
				color: $navbar-text-color;
				text-decoration: none;
				transition: color 0.4s;

				&:hover {
					color: $navbar-text-hover-color;
				}
			}
		}
	}
}

.container {
	padding-top: 30px;
}