@import "bootstrap-sprockets";
@import "bootstrap";

$navbar-bg-color: rgba(236, 244, 244, 1),;
$navbar-text-color: rgba(52, 73, 94, 0.8);
$navbar-text-hover-color: rgb(20, 27, 35);
$default-bg-color: #ecf4f4;
$logo-height: 60px;
$font-family: 'Tsukushi A Round Gothic', 'Yo One Sans Linear Regular', 'Roboto', sans-serif;
$font-family-en: 'Yo One Sans Linear Regular', 'Roboto', sans-serif;

/* universal */

html, body {
	margin: 0;
	padding: 0;
	background-color: $default-bg-color;
	font-family: $font-family;
	color: $navbar-text-color;
	li {
		list-style-type: none;
	
	}
}

:lang(en) {
	font-family: $font-family-en;
  }

section {
	overflow: auto;
}
  
textarea {
	resize: vertical;
}

.center {
	text-align: center;
  
	h1 {
		margin-bottom: 10px;
	}
}

.navbar {
	display: flex;
	align-items: center;
	height: 80px;
	padding: 0 10px;
	background-color: $navbar-bg-color;
	position: fixed;
	width: 100%;
	top: 0; // 上端に固定
	left: 0; // 左端に固定
	right: 0; // 右端に固定
	z-index: 1000;
	border-radius: 0; // 角の丸みを取り除く
	border-bottom: 3px double rgba(52, 73, 94, 0.6);

	.spacer {
		flex-grow: 1; // 可能な限りの空間を取る
	}

	#logo {
		height: $logo-height;
		width: auto;
		opacity:0.8;
	}

	ul {
		display: flex;
		list-style-type: none;
		margin: 0;
		padding: 0;
		float: right;
		color: white;
		align-items: center;
		font-size: 20px;

		li {
			margin-right: 20px;

			a {
				color: $navbar-text-color;
				text-decoration: none;
				transition: color 0.4s;

				&:hover {
					color: $navbar-text-hover-color;
				}
			}
		}
	}
}

.container {
	padding-top: 30px;
	text-align: center;
}

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
}








.btn {
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	border-radius: 5px;
	position: relative;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
	color: $navbar-text-color;
	text-decoration: none;
	transition: 0.3s ease all;
	z-index: 1;

		&:before {
			transition: 1s all ease;
			position: absolute;
			top: 0;
			left: 50%;
			right: 50%;
			bottom: 0;
			opacity: 0;
			content: '';
			background-color: $navbar-text-color;
			z-index: -1;
		}

		&:hover, &:focus {
		  color: white;
		}

		&:hover:before, &:focus:before {
		  transition: 0.5s all ease;
		  left: 0;
		  right: 0;
		  opacity: 1;
		}
		
		&:active {
		  transform: scale(0.9);
		}
}
  
.btn-home {
	font-size: 25px;
	letter-spacing: 2px;
	margin: 2em 1em 0em 1em;
	padding: 2em 2em;
	border: 3px double $navbar-text-color;
}

.btn-logout {
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 2px;
	margin: 0.5em 0.5em;
	padding: 0.5em 1em;
	border: 1px solid $navbar-text-color;
}

.btn-attendance {
	font-size: 20px;
	letter-spacing: 2px;
	margin: 1em 1em;
	padding: 2em 2em;
	border: 1px solid $navbar-text-color;
}

.btn-0 {
	background-color: rgba(103, 135, 144, 0.3);
	&:before{
		background-color: $navbar-text-color;
	}
	&:hover, &:focus {
		color: $default-bg-color;
	}
}

.btn-1 {
	background-color: rgba(180, 12, 77, 0.3);
	&:before{
		background-color: $navbar-text-color;
	}
	&:hover, &:focus {
		color: $default-bg-color;
	}
}

.btn-2 {
	background-color: rgba(183, 114, 34, 0.3);
	&:before{
		background-color: $navbar-text-color;
	}
	&:hover, &:focus {
		color: $default-bg-color;
	}

}
.btn-3 {
	background-color: rgba(92, 169, 191, 0.3);
	&:before{
		background-color: $navbar-text-color;
	}
	&:hover, &:focus {
		color: $default-bg-color;
	}
}

.user-show {
	font-size: 20px;
}

.users-table, .attendance-table {
	color: $navbar-text-color;
	margin: 30px auto;
	width: 50%;
	border: 1px solid $navbar-text-color;
	th, td{
		border: 1px solid $navbar-text-color;
		padding: 3px;
		text-align: center;
	}
}

.clock {
	font-size: 50px;
	color: rgba(52, 73, 94, 0.6);
	text-align: center;
}